.map-container {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
}
.map-container iframe {
    border: none;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
